.header {
  background-color: #3b3b3b;
  color: #fff;
  padding: 20px 20px;
  font-family: Roboto;
}
.header .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .item-list .item .link {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.header .item-list .item .link:hover {
  background-color: transparent;
  color: #fff;
}