.header {
  background-color: #3b3b3b;
  color: #fff;
  padding: 20px 20px;
  font-family: Roboto;

  .item-list {
    display: flex;
    justify-content: center;

    .item {
      .link {
        text-decoration: none;
        color: #000;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 2px solid #fff;
        transition: 0.3s all;
      }

      .link:hover {
        background-color: transparent;
        color: #fff;
      }
    }
  }
}
